.row-container{
  display: flex;
  flex-direction: row;

  .row-half{
    width: 50%;
  }
}

.col-container{
  margin-top: 52px;
  display: flex;
  flex-direction: column;

  .col-half{
    height: 50%;
  }
}
