$primary: #1d22a4;
@import "node_modules/bulmaswatch/cosmo/bulmaswatch";

html, body{
  height: 100%;
  background-color: $primary;
  padding-bottom: 0.5rem;
}
.is-fullheight{
  height: 100%;
}
.is-fullwidth{
  width: 100%;
}
