$primary: #1d22a4;
@import "node_modules/bulmaswatch/cosmo/bulmaswatch";

html, body{
  height: 100%;
  background-color: $primary;
  padding-bottom: 0.5rem;
}
.m0auto{
  margin: 0 auto;
}
.image{
  .is-512by512{
    height: 512px;
    width: 512px;
  }
  .is-256by256{
    height: 256px;
    width: 256px;
  }
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
